/**************************************************
***************************************************

 Website Name: Tesla-Code
 Webstite URL: www.tesla-code.com
 Website Author: Victor


/*********************************
**********************************

    1. li       style
    2. .widget  style
    3. .loginn  style

*/



/*------------------------------------------------------
--------------------------------------------------------
    1. li style
-------------------------------------------------------*/


li 
{
    list-style-type: none;
    padding: 5px;   
}


/*------------------------------------------------------
--------------------------------------------------------
    2. .widget  style
-------------------------------------------------------*/


.widget 
{
    
    float: right;
    padding-right: 175px;
}


/*------------------------------------------------------
--------------------------------------------------------
    3. .loginn  style
-------------------------------------------------------*/

.loginn
{
        margin-left: 100px;   
        margin-right: 100px;
        margin-top: 100px;
}