/**************************************************
***************************************************

 Website Name: Tesla-Code
 Webstite URL: www.tesla-code.com
 Website Author: Victor

 Color Guide
 *******************
  #b3b3b3  Light grey
  #46bbe2  Light teal
  #fff     White
  #d4d4d4  Light grey
**********************/

/*********************************
**********************************

    1. body     style
    2. .menu    style
    3. header   style
    4. .logo    style
    5. .nav     style
    6. .menu a  style
    7. .prompt  style

*/



/*------------------------------------------------------
--------------------------------------------------------
    1. body style
-------------------------------------------------------*/

body
{
    font-family: sans-serif;
}


/*------------------------------------------------------
--------------------------------------------------------
    2. .menu class style
-------------------------------------------------------*/

.menu a
{
    color: #b3b3b3;
    text-decoration: none;
    display: inline-block;
    padding-left: 6px;
}
    



/*------------------------------------------------------
--------------------------------------------------------
    3. header style
-------------------------------------------------------*/

header
{
    margin: 0;
    border-bottom: 3px solid #46bbe2;
    width: 100%;
    
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top left, #0F0F0F 0%, #302D38 100%);
    
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #0F0F0F 0%, #302D38 100%);

    /* Opera */
    background-image: -o-linear-gradient(top left, #0F0F0F 0%, #302D38 100%);
    
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #0F0F0F), color-stop(1, #302D38));
}
    
    
/*------------------------------------------------------
--------------------------------------------------------
    4.logo style
-------------------------------------------------------*/
.logo
{
    font-size: 16px;
    text-transform: lowercase;
    padding-left: 20px;
    padding-top: 10px;
}

.logo span:first-child
{
    font-weight: 400;
    color: #fff;
}

.logo span:last-child
{
    color: #b3b3b3;
}



/*------------------------------------------------------
--------------------------------------------------------
    5.nav style
-------------------------------------------------------*/
nav
{
    width: 99%;
    text-align: right;
    padding-bottom: 8px;
}

nav:last-child
{
    padding-right: 42px;
}

/*------------------------------------------------------
--------------------------------------------------------
    6. .menu a style
-------------------------------------------------------*/


.menu a.current
{
    color: #fff;
}


/*------------------------------------------------------
--------------------------------------------------------
    7. .prompt style
-------------------------------------------------------*/
.prompt
{
    font-size: 11px;
    float: right;
}

.prompt div
{
    text-align: right;
}
    

/*------------------------------------------------------
--------------------------------------------------------
    7. bootstrap style 
-------------------------------------------------------*/

.large-6 column lpad top-msg breadcrumb 
{
    float: left;
}

/*------------------------------------------------------
--------------------------------------------------------
    8. .clear style
-------------------------------------------------------*/

.clear
{
    clear: both;
}


/*------------------------------------------------------
--------------------------------------------------------
    8. .info
-------------------------------------------------------*/

.info
{
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 2px solid #d4d4d4;
}




