<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
        /*Does not properly work.
            window.onclick = function(event) {
                if (!event.target.matches('.droptbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for(i = 0; i < dropdowns.length;i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            opendDropdown.classList.remove('show');
                        }
                    }
                }
            }
        */
</script>
    
<div class="logo">
        <a href="/">
            <span style="font-size:25pt">Virtual</span>
            <span style="font-size:25pt">Tabletop</span> 
        </a>
    </div> 
<nav class="menu">
    <a href="/" class="current">Home</a>

    {{if not .LoggedIn}}
    <a href="/login">Log in</a>
    <a href="/register">Register</a>
    {{else}} <!-- User is logged in -->
    <div class = "dropdown">
            <button onclick= "myFunction()" class = "dropbtn"> Characters </button>
            <div id = "myDropdown" class="dropdown-content">
                <a href = "/createChar" title ="Make a new Character from Scratch" >Create Character</a>
                <a href = "/viewChar" title = "View your existing Characters">View Character</a>
            </div>
        </div>
    <a href="/newgame">Create Game</a>
    {{end}} <!-- These can be shown no matter what, I suppose-->

    <a href="/gamebrowser">Find Game</a>
    <a href="/chat">Chat</a>
    <a href="/playerdirectory">Player directory</a>

    {{if .LoggedIn}} <!-- Check here as well so it is at the end -->
    <a href="/profile"><p><span class="glyphicon glyphicon-user"></span> My Profile</p></a>
    <a href="/logout"><p>Log out</p></a>
    {{end}}
</nav>