<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Virtual Tabletop</title>       
        
        <!--Link to css reset. -->
        <link rel="stylesheet" rel="text/css" href="static/cssre/reset.css">
       
        <!--Getting bootstrap CDN  -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
       
       <!-- Link to stylesheet -->
       <link rel="stylesheet" rel="text/css" href="static/css/stylesheet.css">
       <link rel="stylesheet" href = "static/css/dropdown.css">
    </head>
    <body>
        <header>
            {{template "header.html" .}}
        </header>

         <!-- Div Clear -->
         <div class="clear"></div>
         Welcome! Click <a href="/register">here</a> to create an account.

         {{$games := .Games}}
         {{if .LoggedIn}}
            <h2>{{.Message}}</h2>
            {{if .PartOfAnyGame}}
            <h3>You are part of these games:</h3>
            <ul>
                {{range $games}}
                <li>
                    {{$link := printf "/game/%s" .GameId}}
                    <div><a href="{{$link}}">{{.Name}}</a></div>
                    <div>{{.Description}}</div>
                </li>
                {{end}} <!-- End range .Games-->
            </ul>

            {{end}} <!-- End if .PartOfAnyGames -->
         {{end}} <!-- End if .LoggedIn-->
         
    </body>
</html>
