<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <title>My Profile - Virtual Tabletop</title>

        <!--Link to css reset. -->
        <link rel="stylesheet" rel="text/css" href="static/cssre/reset.css">   
        
        <!--Getting bootstrap CDN  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        
        <!-- Link to stylesheet -->
        <link rel="stylesheet" rel="text/css" href="static/css/stylesheet.css">
        
        <!-- Link to stylesheet -->
        <link rel="stylesheet" rel="text/css" href="static/css/signup.css">    

        <link rel="stylesheet" href = "static/css/dropdown.css">

        <script>
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }
        </script>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">
                    <span>Virtual</span>
                    <span>Tabletop</span> 
                </a>
            </div> 
            <nav class="menu">   
                <a href="/" class="current">Home</a>
                <a href="/login">Log in</a>
                <a href="/register">Register</a>
                <a href="/profile"><p><span class="glyphicon glyphicon-user"></span> My Profile</p></a>
                <a href="/newgame">Create Game</a>
                <a href="/gamebrowser">Fing Game</a>
                <div class = "dropdown">
                    <button onclick= "myFunction()" class = "dropbtn"> Characters </button>
                    <div id = "myDropdown" class="dropdown-content">
                        <a href = "/createChar" title ="Make a new Character from Scratch" >Create Character</a>
                        <a href = "/viewChar" title = "View your existing Characters">View Character</a>
                    </div>
                </div>
                <a href="/chat">Chat</a>
            </nav>
        </header>

        {{if .UserFound}}
        <form action="/profile" method="post">
            <!--<input type="checkbox" name="visibileindirectory" value=" ">Visible </br>-->
            <p>Select visibility in player directory
                <select id="visible" name="visible">
                    {{range .VisibleOptions}}
                    <option value="{{.Value}}" {{if .Selected}}selected="selected"{{end}}>{{.Text}}</option>
                    {{end}}
                </select>
            </p>
            </br><p>Description - Write something about yourself!</p>
            <textarea class="scrollabletextbox" name="desc" cols="45" rows="4">{{.Desc}}</textarea>
            </br></br></br>

            <button type="submit"  class="btn btn-success">Update profile</button>
       </form>
       {{else}} <!-- User not found -->
       <h1>You are not logged in. <a href="/register">Register</a> or <a href="/login">log in</a></h1>
       {{end}} <!-- End .UserFound -->
    </body>
</html>