<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <title>My Profile - Virtual Tabletop</title>

        <!--Link to css reset. -->
        <link rel="stylesheet" rel="text/css" href="static/cssre/reset.css">   
        
        <!--Getting bootstrap CDN  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        
        <!-- Link to stylesheet -->
        <link rel="stylesheet" rel="text/css" href="static/css/stylesheet.css">
        
        <!-- Link to stylesheet -->
        <link rel="stylesheet" rel="text/css" href="static/css/signup.css">    

        <link rel="stylesheet" href = "static/css/dropdown.css">
    </head>
    <body>
        <header>
            {{template "header.html" .}}
        </header>

        {{if .LoggedIn}}
        <form action="/profile" method="post">
            <!--<input type="checkbox" name="visibileindirectory" value=" ">Visible </br>-->
            <p>Select visibility in player directory
                <select id="visible" name="visible">
                    {{range .VisibleOptions}}
                    <option value="{{.Value}}" {{if .Selected}}selected="selected"{{end}}>{{.Text}}</option>
                    {{end}}
                </select>
            </p>
            </br><p>Description - Write something about yourself!</p>
            <textarea class="scrollabletextbox" name="desc" cols="45" rows="4">{{.Desc}}</textarea>
            </br></br></br>

            <button type="submit"  class="btn btn-success">Update profile</button>
       </form>
       {{else}} <!-- User not found -->
       <h1>You are not logged in. <a href="/register">Register</a> or <a href="/login">log in</a></h1>
       {{end}} <!-- End .UserFound -->
    </body>
</html>